html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
	text-decoration: none;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1109px;
	margin: 0 auto;
	width: 100%;
}


.header__inner {
	display: flex;
	height: 180px;
	align-items: center;
}

.menu__list {
	display: flex;
	gap: 63px;
}

.menu {
	margin-left: auto;
}

.menu__link {
	color:  #1D2530;
	font-size: 20px;
	font-weight: 400;
}

.menu__link:hover {
	color:  #685ED6;
	font-size: 20px;
}

.hero__content {
	max-width: 482px;
	padding-top: 128px;
}

.hero__title {
	color:  #1D2530;
	font-size: 50px;
	font-weight: 800;
	margin-bottom: 24px;
	line-height: 60px;
}

.hero__title span {
	color: #685ED6;
}

.hero__subtitle {
	color: #1D2530;
	font-size: 24px;
	margin-bottom: 32px;
	font-weight: 400;
	line-height: 34px; 
}

.hero__btn {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	padding: 12px 32px;
	font-weight: 700;
	border-radius: 6px;
	background:  #685ED6;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}



.hero__body {
	display: flex;
}

.hero__img {
	margin-top: 107px;
}

.feature__body{
	display: flex;
	padding-top: 101px;
}


.feature__title {
	color: #1D2530;
	font-size: 48px;
	font-weight: 800; 
}

.feature-text {
	color:  #1D2530;
	font-size: 24px;
	font-weight: 600;
}

.feature-subtitle {
	color: #1D2530;
	max-width: 428px;
	font-size: 16px;
	font-weight: 400;
	line-height: 162%;
}


.feature__item {
	margin-bottom: 50px;
	align-self: center;
}

.feature__list {
	margin-top: 68px;
}

.rate__body {
	display: flex;
	gap: 40px;
	justify-content: space-between;
	text-align: center;
}

.rate__title {
	color: #1D2530;
	text-align: center;
	margin-bottom: 16px;
	font-size: 46px;
	font-weight: 800;
}

.rate__block {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 387px;
	border-radius: 6px;
	background: #FCFEFF;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.rate__content {
	padding: 30px;
	text-align: center;
}

.rate__subtitle {
	color:  #1D2530;
	text-align: center;
	margin-bottom: 40px;
	font-size: 24px;
	font-weight: 700;
}

.rate__price {
	color: #1D2530;
	font-size: 20px;
	margin-bottom: 30px;
	font-weight: 500;
}

.rate__name {
	color: #685ED6;
	margin-bottom: 40px;
	font-size: 24px;
	font-weight: 800;
}

.rate__text {
	color:  #1D2530;
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 32px;
}

.rate__btn {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	padding: 12px 32px;
	font-weight: 700;
	border-radius: 6px;
	background:  #685ED6;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.step__body {
	display: flex;
	margin-top: 40px;
	text-align: center;
	gap: 30px;
}

.step__name {
	color: #1D2530;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}

.step__subtitle {
	color:  #1D2530;
	font-size: 16px;
	margin-bottom: 30px;
	font-weight: 400;
}

.step__title {
	text-align: center;
	color:  #1D2530;
	font-size: 42px;
	font-weight: 800;
}

.reviews__body {
	display: flex;
	gap: 30px;
}


.step__content {
	margin-top: 100px;
}

.reviews__block {
	padding: 68px 32px;
	border-radius: 6px;
	background: #FCFEFF;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}



.reviews__title {
	color:  #18191F;
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 500;
}

.reviews__content {
	text-align: center;
	padding-top: 32px;
}

.reviews__subtitle {
	color:  #18191F;
	font-size: 14px;
	font-weight: 400;
	line-height: 171%; 
}

.reviews__img {
	margin-left: 1000px;
}

.reviews__name {
	color:  #1D2530;
	margin-top: 100px;
	font-size: 46px;
	font-weight: 800;
}
.footer {
	color: #fff;
	padding-top: 100px;
}

.footer__top {
	background-color: #1D2530;
	padding: 104px;
}


.footer__top-item {
	margin-bottom: 20px;
}

.footer__item-link {
	color:  #EEEFF4;
	font-size: 16px;
	font-weight: 400;
}

.footer__top-title {
	color: #F4F5F7;
	font-size: 20px;
	margin-bottom: 32px;
	font-weight: 500;
}


.footer__top-body {
	display: grid;
	grid-template-columns: repeat(3, auto);
}

.footer__bottom {
	background: #141B23;
}

.footer__botton-inner {
	padding: 25px;
	
}

.footer__bottom-text {
	color:  #D9DBE1;
	font-size: 14px;
	font-weight: 400;
}
@media (max-width: 1200px) {
	.container {
		max-width: 970px;
	}
	.hero__img img{
		width: 100%;
	}
}
@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
	.hero__img {
		display: none;
	}
	.step__body {
		flex-wrap: wrap;
		justify-content: center;
	}

	.rate__body {
		flex-wrap: wrap;
		justify-content: center;
	}
	.reviews__body {
		flex-direction: column;
	}
}
@media (max-width: 767px) {
	.footer__top-body {
		display: flex;
		flex-wrap: wrap;
	}
	.footer__top-col {
		margin-bottom: 30px;
	}
	.feature__img img {
		display: none;
	}
	.feature__title {
		text-align: center;
	}
	.reviews__block{
		display: flex;
		flex-wrap: wrap;
	}
	.feature__item {
		display: flex;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}
	.feature__content {
		margin: auto;
	}
	.menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translate(-100%, 0px);
		background-color: #fff;
		padding: 100px 30px 30px 30px;
		transition: 0.3s ;
	}

	.footer__top-body {
		display: flex;
		justify-content: space-between;
	}

	.menu.__active {
		transform: translate(0px, 0px);
	}

	.menu__list {
		flex-direction: column;
		row-gap: 34px;
	}

	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		margin-left: auto;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #685ED6;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: '';
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.menu__icon._active span {
		transform: scale(0) translate(0px, -50%);
	}

	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}
}